* {
	font-family:sans-serif;
	margin: 0;
	padding: 0;
	text-align:center;
}

body {
	background-color: #16a085;
}

body >:disabled {
	cursor: not-allowed;
}

h1 {
	margin-top: 30px;
}

h3 {
	font-size:24px;
	margin-top: 10px;
}

h4 {
	margin-top: 10px;
}

h5 {
	margin-bottom: 20px;
}

input[type="radio"] {
	margin-left: 20px;
}

ul li {
	list-style-type:none;
}

.hide {
	display:none;
}

#info {
	display:flex;
	justify-content:space-around;
}

#score {
	flex:2;
	order:1;
}
#displayScore {
	font-size:20px;
}
#previous {
	font-size:20px;
}
#previousScore {
	flex:2;
	order:3;
}
#directions {
	flex:1;
	margin:1% 0;
	order:2;
}
#directions ul li {
	font-size:20px;
}
#toggleDirections {
	margin:1% 0 0 0;
	width: auto;
}

#difficulty {
	font-size:20px;
}

#container {
	border: 2px solid #000;
	background-color: #ecf0f1;
	margin: 20px auto;
	padding: 15px 10px;
	text-align: center;
	width: 50%;
}

#question {
	font-size:20px;
	font-weight: 600;
}

#guessForm {
	font-size:20px;
	margin: 3% 0 0 0;
}
#guessForm .answerStyle {
	margin:20px 0;
}
#guessForm .answerStyle input[type='radio'] {
	width:30px;
}

.cautionBorder {
	border: 2px solid #c0392b;
}

#caution {
	visibility: hidden;
}

.begin {
	display:flex;
	justify-content:space-between;
	margin:0 auto;
	max-width: 50%;
}

button {
	border: none;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	font-size: 18px;
	padding: 15px 10px;
	outline: none;
}

button:hover {
	background-color: darkgrey;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.progress {
	margin: 0 auto 3% auto;
	width: 50%;
}

@media (max-width:650px) {
	#container {
		width:80%;
	}
	#info {
		display:block;
	}
}
